<!-- template main já fornece todo o corpo do layout
com ele definido nas outras páginas handlebars nao precisa por a
estrutura do html. Nas outras paginas digita direto o conteudo.-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name= "viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Postagem Node.Js</title>
</head>
<body>
    <!--para chamar a informação dos outros arquivos-->
    {{{body}}}
</body>
</html>